QFrame#outer_frame{
    background-color: #e0e1e0;
    border-radius: 5px;
}

#cancel_button, #add_service_button{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#cancel_button{
    background-color: transparent;
        color: #000000;
}

#add_service_button{
    background-color: #194FCC;
    color: white;
}

#service_name_lineedit, #rate_spinbox{
    color: black;
}