
QPushButton:pressed {
    background-color: transparent;
    border: none;
}

#image_frame{
    background-color: #D9D9D9;
    border-radius: 10px;
}

#capacity_icon_label{

    background-image: url(../resources/icons/custom_widgets/capacity_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#rate_label, #status_label, #actions_label{
    color: #5B5B5B;
}