QDialog{
    background-color: #f6f6f6;
}

#proceed_button{
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #194FCC;
}

#proceed_button::hover{
    background-color: #1440a6;
}

#proceed_button::pressed{
    background-color: #133991;
}

